# Requirements needed when generating releases. See BUILD.rst for details.
invoke
rellu
docutils
robotframework
robotframework-seleniumlibrary
robotframework-browser
allure-python-commons
allure-robotframework
Appium-Python-Client
atlassian-python-api
attrs
certifi
cffi
charset-normalizer
cryptography
decorator
Deprecated
docker
docutils
h11
idna
jsonpath-ng
jsonschema
jsonschema-specifications
kitchen
listener
lxml
mariadb
oauthlib
opentf-agent
opentf-tools
outcome
packaging
Pillow
pip
pluggy
ply
psutil
pycparser
PyGithub
Pygments
PyJWT
PyNaCl
Pypubsub
PySocks
python-dateutil
pywin32
PyYAML
referencing
rellu
requests
requests-oauthlib
trio
trio-websocket
typing_extensions
urllib3
websocket-client
wrapt
wsproto
wxPython
